 .golgeli-kutu {
                    border-radius: 8px;
                    margin-left: 0px;
                    margin-top: 66px;
                    box-shadow: 2px 2px 6px #000;
                    width: 400px;
                    padding: 15px;
                    font: 12px Arial, Helvetica, sans-serif;
                    background: #ff9800;
                    font-family: "Roboto", sans-serif;
                    color: white;
                    position: center;
                }
                    .golgeli-kutu button {
                        float: right;
                        font-size:17px;
                        height: 27px;
                        width: 101px;
                        border: none;
                        border-radius: 8px;
                        margin-top: -16px;
                        
                        text-align: center;
                        color: #0b93d2;
                    }

                    .golgeli-kutu label {
                        font-size: 17px;
                        font-family: inherit;
                        margin-bottom: 5px;
                    }
                    .golgeli-kutu input {
                        width: 244px;
                        margin-bottom: 5px;
                        padding: 7px;
                        font-size: 17px;
                        color: #0b93d2;
                        font-family: cursive;
                        border: none;
                        border-radius: 8px;
                    }