
@{
    ViewBag.Title = "kisiselveri";
    Layout = "~/Views/Shared/EshopLayout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            @Html.Action("LeftMenuSozlesme", "PartialView")
            <div class="col-sm-9">
                <div class="blog-post-area">
                    <h2 class="title text-center">Kişisel Verilerin İşlenmesi Aydınlatma Metni</h2>
                    <div class="single-blog-post">


                        <a href="/mesafeliSatıssözlesmesi">
                            <img src="~/Content/images/modaktaplogobyk.png" />
                     


                        </a>
                        <p>
                            a) Veri Sorumlusu ve Temsilcisi<br />
                            6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVK Kanunu”) uyarınca, kişisel verileriniz; veri sorumlusu olarak MODA KİTAP  Web Tas. ve İnt. Rek. Danş. Hiz. (“Moda Kitap”) tarafından aşağıda açıklanan kapsamda işlenebilecektir.
                            Veri Sorumlusu sıfatıyla Moda Kitap’ya vermiş olabileceğiniz kişisel bilgilerinizin aşağıda açıklanan şart ve sınırlara bağlı kalınarak kaydedilebileceğini, saklanabileceğini, güncellenebileceğini, mevzuatın izin verdiği durumlarda 3. kişilere açıklanabileceğini / devredilebileceğini, sınıflandırılabileceğini ve KVKK’da sayılan şekillerde işlenebileceğini belirtmek isteriz. Sayılan bu unsurlara dair detaylı açıklamalarımızı aşağıda bulabilirsiniz.


                        </p> <br>
                             <p>
                                 b) Kişisel Verilerin Hangi Amaçla İşleneceği <br />
                                 Toplanan kişisel verileriniz, Moda Kitap ve Moda Kitap ile iş ilişkisi içerisinde olan kişilerin hukuki ve ticari güvenliğinin temini; Moda Kitap’nun insan kaynakları politikalarının yürütülmesinin temini; Moda Kitap’nun ticari ve iş stratejilerinin belirlenmesi ve uygulanması amaçlarıyla KVK Kanunu’nun 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dâhilinde işlenecektir.
                             </p> <br>
                                  <p>
                                      c) İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarılabileceği<br />
                                      Toplanan kişisel verileriniz; Moda Kitap ve Moda Kitap ile iş ilişkisi içerisinde olan kişilerin hukuki ve ticari güvenliğinin temini; Moda Kitap’nun insan kaynakları politikalarının yürütülmesinin temini. Moda Kitap’nun ticari ve iş stratejilerinin belirlenmesi ve uygulanması amaçlarıyla, iş ortaklarımıza, tedarikçilerimize, hissedarlarımıza, kanunen yetkili kamu kurumlarına ve özel kişilere, KVK Kanunu’nun 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde aktarılabilecektir.
                                  </p> <br>
                                       <p>
                                           ç) Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi<br />
                                           Kişisel verileriniz, Moda Kitap tarafından farklı kanallarla ve farklı hukuki sebeplere dayanarak; faaliyetlerimizi yürütmek amacıyla toplanmaktadır. Bu hukuki sebeple toplanan kişisel verileriniz KVK Kanunu’nun 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları kapsamında bu Aydınlatma Metni’nin (b) ve (c) maddelerinde belirtilen amaçlarla da işlenebilmekte ve aktarılabilmektedir.

                                       </p>
                                       <p>
                                           d) Kişisel Veri Sahibinin KVK Kanunu’nun 11. maddesinde Sayılan Hakları <br />
                                           Kişisel veri sahipleri olarak, haklarınıza ilişkin taleplerinizi işbu Aydınlatma Metni’nde aşağıda düzenlenen yöntemlerle Moda Kitap’ya iletmeniz durumunda Sitemi, talebin niteliğine göre talebi en kısa sürede ve en geç otuz gün içinde ücretsiz olarak sonuçlandıracaktır. Ancak, Kişisel Verileri Koruma Kurulunca bir ücret tarifesi öngörülmesi halinde, Moda Kitap tarafından, belirlenen tarifedeki ücret alınacaktır. Bu kapsamda kişisel veri sahipleri;
                                           Kişisel veri işlenip işlenmediğini öğrenme,
                                           Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
                                           Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
                                           Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
                                           Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                                           6698 sayılı Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
                                           İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
                                           Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarına sahiptir.
                                           KVK Kanunu’nun 13üncü maddesinin 1inci fıkrası gereğince yukarıda belirtilen haklarınızı kullanmakla ilgili talebinizi, “yazılı” veya Kişisel Verilerin Korunması Kurulunun belirlediği diğer yöntemlerle Moda Kitap’ya iletmeniz gerekmektedir. Kişisel Verilerin Korunması Kurulu şu aşamada herhangi bir yöntem belirlemediği için başvurunuzu, KVK Kanunu’nun amir hükmü gereği yazılı olarak Moda Kitap’ya iletmeniz gerekmektedir. Bu çerçevede Moda Kitap’ya KVK Kanunu’nun 11inci maddesi kapsamında yapacağınız başvurularda, yazılı olarak başvurunuzu ileteceğiniz kanallar ve usuller aşağıda açıklanmaktadır.


                                           Yukarıda belirtilen haklarınızı kullanmak için kimliğinizi tespit edici gerekli bilgiler ve kullanmak istediğiniz hakkınıza yönelik açıklamalarınızla birlikte, talebinizi KVK Kanunu’nun 11inci maddesinde belirtilen, hangi hakkınızın kullanımına ilişkin olduğunu da belirterek, Kazasker Sk. 12/2 Karadeniz Apt.) Kadıköy/İSTANBUL adresine iadeli taahhütlü mektup yoluyla veya moda@modkitap.com adresine alındı teyitli şekilde iletebilirsiniz.


                                       </p> <br>
                       
                    </div>
                </div><!--/blog-post-area-->




            </div>
        </div>
    </div>
</section>

